<ion-app>
    <ion-content>


        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        bala
        <br>
        <br>
        <br>
        <br>
        <br>
        </ion-content>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>