#pic{
    width:100%;
    height:auto;
}
#desclab{
    position: fixed;
    top:40%;
    left:30%;
}
select{
    position: fixed;
    top:45%;
    left:30%;
}

#contestslab{
    position: fixed;
    top:50%;
    left:30%;
}
textarea{
    position: fixed;
    top:55%;
    left:30%;
}
#upload{
    position: fixed;
    top:85%;
    left:30%;
}